html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background: rgb(17, 14, 14);
  background-size: cover;
  min-height: 100vh;
  color: rgb(253, 13, 201);
}
header {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 20%;

  text-decoration: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(253, 13, 201);
  margin: 30px;
  font-size: 1.2rem;
}

li a:hover {
  opacity: 0.3;
  transition: 0.3s ease;
}
button {
  background: white;
  padding: 7px;
  border-radius: 10px;
  font-weight: 600;
}

button:hover {
  opacity: 0.5;
  transition: box-shadow 0.3s ease ease-in-out;
}

section {
  display: flex;
  flex-direction: row;
  line-height: 0.8rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5rem;
}

article {
  display: flex;

  margin: 50px;
  gap: 3em;
}

article div {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
}

article img {
  width: 350px;
  border-radius: 8px;
  height: 30vh;
}

article :hover {
  transform: scale(0.9);
}

footer {
  padding: 5px;
  height: 30vh;
  background: rgb(22, 21, 21);
  margin-top: 250px;
  line-height: 0.8em;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
    max-height: none;
    text-align: center;
    gap: 5px;
  }

  header {
    width: 440px;
    margin-left: 10px;
  }

  a {
    margin: 0.9em;
    font-size: medium;
  }

  article {
    flex-direction: column;
  }

  footer {
    position: relative;
    line-height: normal;
    height: auto;
  }
  article img {
    width: fit-content;
  }
}
