html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background: linear-gradient(180deg, rgb(51, 47, 47), rgb(204, 27, 21), white);
  background-size: cover;
  min-height: 100vh;
  color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(37, 33, 33);
  text-decoration: none;
  width: 100%;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin: 30px;
  font-size: 1.2rem;
}

li a:hover {
  color: rgb(253, 13, 201);
  transition: 0.3s ease;
}
button {
  background: linear-gradient(to right, rgb(253, 13, 201), rgb(161, 1, 143));
  padding: 7px;
  border-radius: 10px;
  font-weight: 600;
}

button:hover {
  background: ;
  transition: box-shadow 0.3s ease ease-in-out;
}

section {
  display: flex;
  flex-direction: row;
  line-height: 0.8rem;
  align-items: center;
  justify-content: center;
  height: 100lvh;
  gap: 5rem;
}

article {
  display: flex;

  margin: 50px;
  gap: 3em;
}

article div {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.3),
    5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
  background-color: rgb(37, 35, 35);
  width: 350px;
}

article img {
  width: 300px;

  height: 30vh;
}
article div:hover {
  transform: scale(0.9);
}

footer {
  padding: 5px;
  height: 33vh;
  background: rgb(37, 33, 33);
  margin-top: 250px;
  line-height: 0.8em;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  section {
    flex-direction: column;

    text-align: center;
    gap: 5px;
  }
  .text {
    margin-bottom: 120px;
  }

  header a {
    font-size: medium;
  }

  article {
    flex-direction: column;
  }

  footer {
    position: relative;
    line-height: normal;
    height: auto;
  }
  article img {
    width: 200px;
  }

  article div {
    width: auto;
  }
}
